.home__overview {
  z-index: z("default");
  background-color: $white;

  .overview__title {
    margin-bottom: 40px;

    strong {
      color: $blue;
    }
  }

  p strong {
    color: $darkblue;
  }

  .overview__content {
    padding: 20px 0;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
  }

  .overview__largeimage {
    display: inline-block;
    vertical-align: middle;
    max-width: 40%;
    padding-left: 20px;
    text-align: center;

    img {
      width: 300%;
      max-width: 380px;
      height: auto;
    }
  }
  @include mq($max-width: $vw-medium) {
    .overview__content {
      padding: 30px;
      width: 100%;
    }

    .overview__title {
      text-align: center;
    }

    .overview__largeimage {
      width: 100%;
      text-align: center;

      img {
        text-align: center;
        width: 200%;
      }
    }
  }
  @include mq($max-width: $vw-medium) {
    .overview__content {
      padding: 0;
    }
  }
}
