$white: #fff;
$black: #1d1e1c;
$blackblue: #52141b;
$clearblue: #e8f0e7;
$lightblue: #db707b;
$blue: #c93240;
$darkblue: #8f242e;

$grey: #babdb5;
$lightgrey: #f4f4f4;

$primaryColor: $blue;


// TODO remove this section one colors are finalized
// https://www.w3schools.com/colors/colors_picker.asp?color=00bfff
// blue - rgb(152, 94, 109)

// blackblue - 15%
// clearblue - 95%
// lightblue - 70%
// darkblue - 30%


// $blackblue: #4f3039;
// $clearblue: #f5eff1;
// $lightblue: #c5a0aa;
// $blue: #985e6d;
// $darkblue: #5f3a44;
