$white: #fff;
$black: #1d1e1c;
$blackblue: #213945;
$clearblue: #eef4f7;
$lightblue: #bad2de;
$blue: #6FA1BA;
$darkblue: #3a6478;

$grey: #babdb5;
$lightgrey: #f4f4f4;

$primaryColor: $blue;

// mono chromatic colors
// https://coolors.co/5cc8ff-7f8c93-323435-6fa1ba-c1eaff

// TODO remove this section one colors are finalized
// https://www.w3schools.com/colors/colors_picker.asp?color=00bfff
// blue - rgb(152, 94, 109)

// blackblue - 15%
// clearblue - 95%
// lightblue - 70%
// darkblue - 30%


// $blackblue: #4f3039;
// $clearblue: #f5eff1;
// $lightblue: #c5a0aa;
// $blue: #985e6d;
// $darkblue: #5f3a44;
